<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.VisitRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.VisitRecord">
        <id column="id" property="id" />
        <result column="created_time" property="createdTime" />
        <result column="is_deleted" property="deleted" />
        <result column="s_id" property="sId" />
        <result column="visit_teacher" property="visitTeacher" />
        <result column="visit_location" property="visitLocation" />
        <result column="visit_time" property="visitTime" />
        <result column="risk_rank" property="riskRank" />
        <result column="problem" property="problem" />
        <result column="conclusion" property="conclusion" />
        <result column="p_id" property="pId" />
        <result column="is_danger" property="isDanger" />
        <result column="is_handled" property="isHandled" />
        <result column="is_approved" property="isApproved" />
        <result column="is_finished" property="isFinished" />
        <result column="finish_time" property="finishTime" />
        <result column="status" property="status" />
    </resultMap>
    <select id="getDTO" resultType="com.example.mybatisplus.model.dto.ConsultTeacherDTO">
        select visit_teacher as name, count(*) as times from visit_record group by visit_teacher
    </select>
    <select id="visitQueryRecordsTotal" resultType="java.lang.Integer">
        select count(*) from student s join visit_record v on s.sn = v.s_id
        <where>
            <if test="r.sId != null and r.sId != ''">
                and s.sn = #{r.sId}
            </if>
            <if test="r.name != null and r.name != ''">
                and s.name = #{r.name}
            </if>
            <if test="r.campus != null and r.campus != '' and r.campus != '全部'">
                and s.campus = #{r.campus}
            </if>
            <if test="r.college != null and r.college !='' and r.college != '全部'">
                and s.college = #{r.college}
            </if>
            <if test="r.visitor != null and r.visitor != ''">
                and v.visit_teacher = #{r.visitor}
            </if>
        </where>
    </select>

    <select id="visitorQueryRecords" resultType="com.example.mybatisplus.model.dto.VisitConclusionDTO">
        select v.id as id,  s.sn as sId, s.name as name, s.gender as gender, s.campus as campus, s.college as college,
               s.phone_number as phoneNumber, v.visit_time as visitTime, v.risk_rank as riskRank, v.problem as problem,
               v.conclusion as conclusion, v.status as status from student s join visit_record v on s.sn = v.s_id
        <where>
            <if test="r.sId != null and r.sId != ''">
                and s.sn = #{r.sId}
            </if>
            <if test="r.name != null and r.name != ''">
                and s.name = #{r.name}
            </if>
            <if test="r.campus != null and r.campus != '' and r.campus != '全部'">
                and s.campus = #{r.campus}
            </if>
            <if test="r.college != null and r.college !='' and r.college != '全部'">
                and s.college = #{r.college}
            </if>
            <if test="r.visitor != null and r.visitor != ''">
                and v.visit_teacher = #{r.visitor}
            </if>
        limit #{startIndex}, #{pageSize}
        </where>
    </select>
</mapper>
